<% if current_user.admin %>
  <h3>ADMIN</h3>
<% end %>
<%= current_user.name %>
Mood: <%= @user.mood %>
Tickets: <%= @user.tickets %>
Height: <%= @user.height %>

<%= link_to "See attractions", attractions_path %>

<%= link_to "Log Out", signout_path, method: delete %>
